.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100vw;
    padding: 16px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.navbar h1 {
  color: orange;
  justify-content: space-between;
}
.navbar .links {
  margin-left: auto;
  color: rgb(255, 255, 255);
  margin-right: 10vw;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: orange;
  text-decoration: solid;
}