.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
  padding: 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.034);
}

.navbar .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar .logo h4 {
  color: orange;
  margin-right: 10px;
}

.navbar .logo img {
  width: 65px;
  height: 55px;
}

.navbar .links {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar a {
  margin-left: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  font-weight: bold;
}

.navbar a:hover {
  color: orange;
}

.cart-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-left: -10px;
}

.cart-icon {
  width: 30px;
  height: 30px;
  margin-right: 50px;
}

.cart-count {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50%; /* Define o raio para fazer um círculo */
  padding: 0.5rem; /* Ajuste o padding para controlar o tamanho do círculo */
  font-size: 0.8rem; /* Ajuste o tamanho da fonte para caber dentro do círculo */
  width: 1.2rem; /* Define a largura do círculo */
  height: 1.2rem; /* Define a altura do círculo */
  position: absolute;
  top: -10px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
