.container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  .content-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: calc(100vh - 64px);
    color: white;
  }
  
  .InputNome,
  .InputEmail,
  .InputSenha,
  .InputCpf,
  .InputEndereco {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizado */
    margin-bottom: 10px; /* Espaçamento entre os campos */
  }
  
  .InputNome label,
  .InputEmail label,
  .InputSenha label,
  .InputCpf label,
  .InputEndereco label {
    margin-bottom: 5px; /* Espaçamento abaixo das labels */
  }
  
  .InputNome input,
  .InputEmail input,
  .InputSenha input,
  .InputCpf input,
  .InputEndereco input {
    width: 200px; /* Largura dos inputs */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .SubmitButton {
    width: 200px; /* Largura desejada */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 20px; /* Espaçamento acima do botão */
    align-self: center; /* Centraliza horizontalmente */
    align-items: center;
  }
  