.container-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 64px);
  color: white;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.Header {
  width: 100%;
  padding: 20px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.SearchBar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  background: #363636;
}

.Link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.Link:hover {
  text-decoration: underline;
}

.UserIcon {
  margin-left: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.Main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adiciona um espaço uniforme entre os produtos */
  width: 100%;
}

.ProductCard {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222; /* Adiciona um fundo para melhor visibilidade */
  color: white; /* Garante que o texto seja visível no fundo escuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destacar os cartões */
}

.ProductImage {
  width: 100%;
  border-radius: 5px;
}

.ProductName {
  margin-top: 10px;
  font-size: 16px; /* Tamanho de fonte anterior */
}

.ProductDescription {
  margin-top: 10px;
  font-size: 14px; /* Tamanho de fonte anterior */
}

@media (max-width: 768px) {
  .ProductCard {
      width: calc(50% - 20px); /* Ajusta a largura dos cartões em telas menores */
  }
}

@media (max-width: 480px) {
  .ProductCard {
      width: calc(100% - 20px); /* Ajusta a largura dos cartões em telas muito pequenas */
  }
}
